[submodule "hayai"]
	path = hayai
	url = https://github.com/nickbruun/hayai.git
[submodule "MologieDetours"]
	path = MologieDetours
	url = https://github.com/kimperator/MologieDetours.git
[submodule "mathfu"]
	path = mathfu
	url = https://github.com/google/mathfu.git
